{% extends 'base.html' %}

{% block title %}
	Post list
{% endblock %}


{% block app_content %}
	<h1>Sugerencias</h1>
	{% for article in articles %}
	<div class="col">
		<div class="card h-100">
			<a href="{{ article[2] }}" target="_blank"><img class="card-img-top cover" src="{{ article[7] }}" alt="Pincha para ir al enlace"></a>
			<div class="card-body">
				<h5 class="card-title"><a href="{{ url_for('post.post_detail', slug=article.slug) }}">{{ article.title }}</a></h5>
				<p class="card-text"><em>{{ article.author }}</em></p>
				<p class="card-text">{{ article[4] }}</p>
				<!--<div>
					{% if article[9] is not none %}
					{% for tag in article[9].split(",") %}
					<button class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{ tag }}</button>
					{% endfor %}
					{% endif %}
				</div>-->
				<br>
				<a href="{{article[2]}}" class="btn btn-primary" style="text-align: center; width: 33.33%; margin-left: 50%; transform: translateX(-50%);" target="_blank">Leer más</a>
			</div>
		</div>
	</div>	
	{% endfor %}
{% endblock %}