{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<br>
    <h1 style="text-align: center;">Iniciar sesión</h1>
    <br>
	    <div class="row justify-content-center">
	        <div class="col-md-4">
	            {{ wtf.quick_form(form) }}
	        </div>
	    </div>
    <br>
    <p style="text-align: center;"><a href="" >¿Has olvidado tu contraseña?</a></p> 

    <p style="text-align: center;">¿Nuevo usuario? <a href="{{ url_for('register') }}">¡Pincha para registrarte!</a></p>


{% endblock %}