{% extends "base.html"%}
{% block app_content %}
<hr style="opacity:0;">
<h1>Recursos</h1>
<div>
	<p style="text-align: center;">
		Te dejamos aquí algunos recursos que pueden hacerte falta en casos de emergencia. 
	</p>
</div>
<div class="row row-cols-1 row-cols-md-1 g-4">
	<a href="tel:900161061" class="atransparente">
		<button class="myButton">
			<div class="col">
				<div class="card myCard">
					<div class="card-body">
						<h5 class="card-title">Información sanitaria</h5>
						<a href="tel:900161061" class="atransparente">061</a>
					</div>
				</div>
			</div>
		</button>
  	</a>
  	<a href="tel:112" class="atransparente">
		<button class="myButton">
			<div class="col">
				<div class="card myCard">
					<div class="card-body">
						<h5 class="card-title">Emergencias generales</h5>
						<a href="tel:112" class="atransparente">112</a>
					</div>
				</div>
			</div>
		</button>
  	</a>
  	<a href="tel:112" class="atransparente">
		<button class="myButton">
			<div class="col">
				<div class="card myCard">
					<div class="card-body">
						<h5 class="card-title">Unidad de crisis de Barcelona para la asistencia psicológica</h5>
						<a href="tel:900900121" class="atransparente">900900121</a>
					</div>
				</div>
			</div>
		</button>
  	</a>
  	<a href="tel:112" class="atransparente">
		<button class="myButton">
			<div class="col">
				<div class="card myCard">
					<div class="card-body">
						<h5 class="card-title">Teléfono de prevención del suicidio</h5>
						<a href="tel:900925555" class="atransparente">900925555</a>
					</div>
				</div>
			</div>
		</button>
  	</a>
</div>


{% endblock %}